<mat-card class="p-4">
  <br>
  <h2 class="mb-4">Thêm Danh Mục</h2><br><br>

  <form>
    <!-- Tên danh mục -->
    <mat-form-field appearance="outline" class="w-100 mb-4">
      <mat-label>Tên danh mục</mat-label>
      <input matInput placeholder="Nhập tên danh mục" name="name"/>
    </mat-form-field>

    <!-- Mô tả danh mục -->
    <mat-form-field appearance="outline" class="w-100 mb-4">
      <mat-label>Mô tả</mat-label>
      <textarea matInput placeholder="Nhập mô tả danh mục" name="description"></textarea>
    </mat-form-field>

    <!-- Ảnh danh mục -->
    <mat-form-field appearance="outline" class="w-100 mb-4">
      <mat-label>Ảnh danh mục</mat-label>
      <input matInput placeholder="URL ảnh hoặc chọn file" name="image"/>
    </mat-form-field>

    <!-- Trạng thái danh mục -->
    <mat-form-field appearance="outline" class="w-100 mb-4">
      <mat-label>Trạng thái danh mục</mat-label>
      <mat-select name="status">
        <mat-option value="active">Hoạt động</mat-option>
        <mat-option value="inactive">Ngừng hoạt động</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="button">
      Thêm Danh Mục
    </button>
    <button mat-stroked-button color="primary" type="button" [routerLink]="['/ui-components/category']">
      Quay lại
    </button>
  </form>
</mat-card>
