<!-- Import Header -->
<app-header></app-header>

<!-- Banner -->
<!-- Product List -->
<div class="container my-4">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let product of products">
      <div [routerLink]="['/product', product.id]"
           class="card h-100 shadow-sm border-0 rounded-4 overflow-hidden product-card">
        <img [src]="product.images" class="card-img-top" alt="{{ product.name }}"
             style="height: 180px; width: 100%; object-fit: cover;">
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title text-truncate" title="{{ product.name }}">{{ product.name }}</h5>
          <p class="card-text small text-muted" style="min-height: 48px;">{{ product.description }}</p>
          <p class="card-text mt-2 fw-bold text-primary">Giá: {{ product.price | number: '1.0-0' }} VNĐ</p>

          <!-- Nút Chi tiết và Mua hàng -->
          <div class="mt-3 d-flex justify-content-between">
            <button class="btn btn-success btn-sm"
                    (click)="addToCart(product.id)">
              + Giỏ hàng
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Import Footer -->
<app-footer></app-footer>
